{%extends 'general.html'%}

{% block mainblock%}

<h1>All clients</h1>
<table class = "loginTable">
  <tr>
    <th>Login Id</th>
    <th>Display name</th>
    <th>Email</th>
    <th>User type</th>



  </tr>
{% for row in data %}
   <!-- A List of tuples so row is each item in the list
        and then the index is the column number.-->
      <tr id="contents">
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>




      </tr>

   {% endfor %}
</table>
<section class ="formContainer">
  <form method='POST'>
    <br>
    <h1>Change a user's type:</h1>
    User id:<input type="text" name=user_id></input><br>
    User type:
    <select name = "newType">
      <option value="user">user</option>
      <option value="staff">staff</option>
    </select>
    <button type=submit value="user" name="userChange">Change user type</button>
  </form>
</section>

{%endblock%}
