{%extends 'general.html'%}

{% block mainblock%}

<h1>This is the admin site</h1>
<!-- <a href="/adminView"><button>View clients</button></a> -->

<a href="/adminViewDetails"><button>View clients Details</button></a>
<a href="/adminViewAddress"><button>View clients Address</button></a>
<a href="/adminViewReferences"><button>View clients references</button></a>
<a href="/adminViewWork"><button>View clients UK details</button></a>
<a href="/adminViewDocuments"><button>View clients Documents</button></a>
<a href="/adminViewAll"><button>View Specific client</button></a>

{%if user_type == 'admin'%}
<a href="/adminLogins"><button>View Logins</button></a>
<a href="/adminDelete"><button>Delete a user</button></a>
{%endif%}


{%endblock%}
