{%extends 'general.html'%}

{% block mainblock%}

<h1>All clients</h1>
<table>
  <tr>
    <th>Id</th>
    <th>First name</th>
    <th>Surname</th>
    <th>Contact number</th>
    <th>Contact Email</th>
    <th>Emergency Contact Name</th>
    <th>Emergency Contact Number</th>
    <th>National insurnace</th>
    <th>Date of birth</th>
  </tr>
{% for row in data %}
   <!-- A List of tuples so row is each item in the list
        and then the index is the column number.-->
      <tr id="contents">
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}}</td>
        <td>{{row[6]}}</td>
        <td>{{row[7]}}</td>
        <td>{{row[8]}}</td>
      </tr>

   {% endfor %}
</table>
{%endblock%}
