{%extends 'general.html'%}

{% block mainblock%}

<h1>All clients</h1>
<table>
  <tr>
    <th>Id</th>
    <th>Address 1</th>
    <th>Address 2</th>
    <th>Address City</th>
    <th>Address Country</th>
    <th>Address Post Code</th>
  </tr>
{% for row in data %}
   <!-- A List of tuples so row is each item in the list
        and then the index is the column number.-->
      <tr id="contents">
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}}</td>
      </tr>

   {% endfor %}
</table>
{%endblock%}
