{%extends 'general.html'%}

{% block mainblock%}

<h1>All clients</h1>
<table>
  <tr>
    <th>Ref Id</th>
    <th>User ID</th>
    <th>Name</th>
    <th>Job title</th>
    <th>Company</th>
    <th>Address</th>
    <th>Number</th>
    <th>Email</th>
  </tr>
{% for row in data %}
   <!-- A List of tuples so row is each item in the list
        and then the index is the column number.-->
      <tr id="contents">
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}}</td>
        <td>{{row[6]}}</td>
        <td>{{row[7]}}</td>
      </tr>

   {% endfor %}
</table>
{%endblock%}
