{%extends 'general.html'%}

{% block mainblock%}

<h1>All clients</h1>
<table>
  <tr>
    <th>Id</th>
    <th>First name</th>
    <th>Surname</th>
    <th>Contact number</th>
    <th>Email</th>
    <th>Emergency Contact Name</th>
    <th>Emergency Contact Number</th>
    <th>Type of work</th>
    <th>Qualifications</th>
    <th>NI</th>
    <th>D.O.B</th>
    <th>Working Via</th>
    <th>Via Name</th>
    <th>Work in UK</th>
    <th>Uk license</th>
    <th>Criminal convictions</th>
    <th>Criminal details</th>
    <th>Disability</th>
    <th>Disability Details</th>
    <th>Ref 1 Name</th>
    <th>Ref 1 Job title</th>
    <th>Ref 1 Company</th>
    <th>Ref 1 Address</th>
    <th>Ref 1 Number</th>
    <th>Ref 1 Emails</th>
    <th>Ref 2 Name</th>
    <th>Ref 2 Job title</th>
    <th>Ref 2 Company</th>
    <th>Ref 2 Address</th>
    <th>Ref 2 Number</th>
    <th>Ref 2 Emails</th>
    <th>User login ID</th>

  </tr>
{% for row in data %}
   <!-- A List of tuples so row is each item in the list
        and then the index is the column number.-->
      <tr id="contents">
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}}</td>
        <td>{{row[6]}}</td>
        <td>{{row[7]}}</td>
        <td>{{row[8]}}</td>
        <td>{{row[9]}}</td>
        <td>{{row[10]}}</td>
        <td>{{row[11]}}</td>
        <td>{{row[12]}}</td>
        <td>{{row[13]}}</td>
        <td>{{row[14]}}</td>
        <td>{{row[15]}}</td>
        <td>{{row[16]}}</td>
        <td>{{row[17]}}</td>
        <td>{{row[18]}}</td>
        <td>{{row[19]}}</td>
        <td>{{row[20]}}</td>
        <td>{{row[21]}}</td>
        <td>{{row[22]}}</td>
        <td>{{row[23]}}</td>
        <td>{{row[24]}}</td>
        <td>{{row[25]}}</td>
        <td>{{row[26]}}</td>
        <td>{{row[27]}}</td>
        <td>{{row[28]}}</td>
        <td>{{row[29]}}</td>
        <td>{{row[30]}}</td>
        <td>{{row[31]}}</td>
        <td>{{row[32]}}</td>
      </tr>

   {% endfor %}
</table>
{%endblock%}
