{%extends 'general.html'%}

{% block mainblock%}

<h1>All clients</h1>
<table>
  <tr>
    <th>User ID</th>
    <th>CV location</th>
    <th>Photo location</th>
  </tr>
{% for row in data %}
   <!-- A List of tuples so row is each item in the list
        and then the index is the column number.-->
      <tr id="contents">
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
      </tr>

   {% endfor %}
</table>
{%endblock%}
