<html>
  <head>
    <title> Registration Form - Acorn </title>
    <link rel="stylesheet" type"text/css" href="\static\styles/main.css">
    <script src="\static\resources/validate.js"></script>
    <script src="\static\resources/signature.js"></script>
    <!-- <script>
      if('serviceWorker' in navigator) {
        navigator.serviceWorker
                 .register('/SW')
                 .then(function(reg) { console.log("Service Worker Registered"+ reg.scope); });
      }
    </script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
    <header class=headcontainer>

      <section class=navcontainer>
        <section class=left>
        <h1>Limited Company Contractor Registration Form</h1>
        <section class=navcontainer>
          <a href="/home"><button>Home</button></a>
          {%if (user_type != 'user') and (user_type != 'admin') and (user_type != 'staff')%}
          <a href="/login"><button>Login</button></a>
          {%endif%}
          {%if user_type == 'staff'%}
          <a href="/admin"><button>View clients options</button></a>
          <a href="/signout"><button>Sign out</button></a>
          {%endif%}
          {%if user_type == 'user'%}
            <a href="/view"><button>View details</button></a>
            <a href="/form"><button>Enter form</button></a>
            <a href="/signout"><button>Sign out</button></a>
          {%endif%}

          {%if user_type == 'admin'%}
              <a href="/admin"><button>Admin</button></a>
              <a href="/signout"><button>Sign out</button></a>
          {%endif%}

        </section>
      </section>



        <section class=right>
          <img src="\static\resources/Acorn.png" alt="Acorn company logo " height="30px">

          <h3>User logged in: {{user_id}}</h3>
          <h3>User type: {{user_type}}</h3>
        </section>
      </section>


  </header>


  {% block mainblock%}

  <main>
    <section class=formContainer>
      <br><br>
    <h4>Welcome to the Acorn recruitment website</h4>
    <p>Here you can sign up. You will be able to enter all of your details in which we will then review and process for your application</p>
    <section>

  </main>




  {%endblock%}

  <script>
    function closeCookie(){
        document.getElementById("cookie").innerHTML=""
    }
  </script>
  </body>
</html>
