{%extends 'general.html'%}

{% block mainblock%}

<section class="formContainer">
  <h4>Login or Sign up</h4>
  <h2>{{message}}</h2>
  <form name="logIn" id="logIn" onsubmit="return login()" method="post">
    Email:<input type=text name="useremail"></input>
    password:<input type=password name="userpassword"></input>
    <input type="submit"></input>
  </form>
{{ msgLogin }}
<a href="/signup"><button>Click here to sign up</button></a>
</section>

{%endblock%}
