{%extends 'general.html'%}

{% block mainblock%}


<h1>Enter your details below to sign up</h1>

<section class=formContainer>
  <form name="signUp" id="signUp" onsubmit="return checkSignUp()" method="post">
    Display name:<input type=text name="user_name"></input>
    email:<input type=email name="user_email"></input>
    confirm email:<input type=email name="user_email_check"></input>
    <div id="match_email"></div>
    password:<input type=password name="user_password"></input>
    confirm password:<input type=password name="user_password_check"></input>
    <div id="match_password"></div>
    <input type="submit"></input>
    {{emails}}
  </form>
</section>


{%endblock%}
