{%extends 'general.html'%}

{% block mainblock%}

<h1>Specific client</h1>
<br><br>
<main>
  <h1>Client personal details</h1>
  <table id=tables>
    <tr>
      <th>Id</th>
      <th>First name</th>
      <th>Surname</th>
      <th>Contact number</th>
      <th>Contact Email</th>
      <th>Emergency Contact Name</th>
      <th>Emergency Contact Number</th>
      <th>National insurnace</th>
      <th>Date of birth</th>
    </tr>
  {% for row in detail %}
     <!-- A List of tuples so row is each item in the list
          and then the index is the column number.-->
        <tr id="contents">
          <td>{{row[0]}}</td>
          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>
          <td>{{row[3]}}</td>
          <td>{{row[4]}}</td>
          <td>{{row[5]}}</td>
          <td>{{row[6]}}</td>
          <td>{{row[7]}}</td>
          <td>{{row[8]}}</td>
        </tr>

     {% endfor %}
  </table>
  <br><br>
  <h1>Client address details</h1>
  <table>
    <tr>
      <th>Id</th>
      <th>Address 1</th>
      <th>Address 2</th>
      <th>Address City</th>
      <th>Address Country</th>
      <th>Address Post Code</th>
    </tr>
  {% for row in address %}
     <!-- A List of tuples so row is each item in the list
          and then the index is the column number.-->
        <tr id="contents">
          <td>{{row[0]}}</td>
          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>
          <td>{{row[3]}}</td>
          <td>{{row[4]}}</td>
          <td>{{row[5]}}</td>
        </tr>

     {% endfor %}
  </table>
  <br><br>
  <h1>Client UK details</h1>
  <table>
    <tr>
      <th>Id</th>
      <th>Qualifications</th>
      <th>Working Via</th>
      <th>Working Via Name</th>
      <th>Work in the uk</th>
      <th>Driving License</th>
      <th>Criminal Convictions</th>
      <th>Criminal Convictions Details</th>
      <th>Disability</th>
      <th>Disability Details</th>
    </tr>
  {% for row in ukDetails %}
     <!-- A List of tuples so row is each item in the list
          and then the index is the column number.-->
        <tr id="contents">
          <td>{{row[0]}}</td>
          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>
          <td>{{row[3]}}</td>
          <td>{{row[4]}}</td>
          <td>{{row[5]}}</td>
          <td>{{row[6]}}</td>
          <td>{{row[7]}}</td>
          <td>{{row[8]}}</td>
          <td>{{row[9]}}</td>
        </tr>

     {% endfor %}
  </table>
  <br><br>
  <h1>Client references</h1>
  <table>
    <tr>
      <th>Ref Id</th>
      <th>User ID</th>
      <th>Name</th>
      <th>Job title</th>
      <th>Company</th>
      <th>Address</th>
      <th>Number</th>
      <th>Email</th>
    </tr>
  {% for row in references %}
     <!-- A List of tuples so row is each item in the list
          and then the index is the column number.-->
        <tr id="contents">
          <td>{{row[0]}}</td>
          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>
          <td>{{row[3]}}</td>
          <td>{{row[4]}}</td>
          <td>{{row[5]}}</td>
          <td>{{row[6]}}</td>
          <td>{{row[7]}}</td>
        </tr>

     {% endfor %}
  </table>
  <br><br>
  <h1>Client documents</h1>
  <table>
    <tr>
      <th>User ID</th>
      <th>CV location</th>
      <th>Photo location</th>
    </tr>
  {% for row in documents %}
     <!-- A List of tuples so row is each item in the list
          and then the index is the column number.-->
        <tr id="contents">
          <td>{{row[0]}}</td>
          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>
        </tr>

     {% endfor %}
  </table>
</main>

<!-- <button type="button" onclick="sendForm()">Send data</button> -->



{%endblock%}
