{%extends 'general.html'%}

{% block mainblock%}

<h1>Your details</h1>
<p>Change any details below</P>
<form class = "formContainer" onsubmit="return validate()" name="RegistrationEdit" action="/view" method="post" enctype=multipart/form-data>

  <section class = "step1container">
    <h2>Step 1 - Personal details</h2>
    <select name="title">
      <option value = "na">-- Please Select --</option>
      <option value = "Mr">Mr</option>
      <option value = "Mrs">Mrs</option>
      <option value = "Miss">Miss</option>
      <option value = "Ms">Ms</option>
      <option value = "Other">Other</option>
    </select>
    <input type="text" name="clientName" id="clientName" placeholder="{{ clientData[0][1] }}"></input>
    <input type="text" name="surname" id="surname" placeholder="{{ clientData[0][2] }}"></input>
    <section class=address>
      <input type="text" name="address1" id="address1" placeholder="Address line 1"></input>
      <input type="text" name="address2" id="address2" placeholder="Address line 2"></input>
      <input type="text" name="addressCity" id="addressCity" placeholder="City"></input>
      <input type="text" name="addressCountry" id="addressCountry" placeholder="Country"></input>
      <input type="text" name="addressPostCode" placeholder="Post code"></input>
    </section>
    <input type="tel" name="contactNo" placeholder="{{ clientData[0][3] }}"></input>
    <input type="email" name="clientEmail" placeholder="{{ clientData[0][4] }}"></input>
    <input type="text" name="emergencyContactName" placeholder="{{ clientData[0][5] }}"></input>
    <input type="tel" name="emergencyContactNo" placeholder="{{ clientData[0][6] }}"></input>
    <input type="text" name="typeOfWork" placeholder="{{ clientData[0][7] }}"></input>
    <textarea type="text" name="qualification" placeholder="{{ clientData[0][8] }}"></textarea>
    <input type="text" name="ni" placeholder="{{ clientData[0][9] }}"></input>
    <input type="text" name="dob" placeholder="{{ clientData[0][10] }}"></input>

    I will be working via:
    <select name="workingVia" placeholder="{{ clientData[0][11] }}">
      <option value = "Umbrella Company">Umbrella Company</option>
      <option value = "Personal services company">Personal Services Company</option>
    </select>
    <input type="text" name="nameOfCompany" placeholder="{{ clientData[0][12] }}"></input>
    Photograph of yourself:
    <article id="extraInfo">
      Click me for more info
      <p>A photograph can be uploaded in the following formats: Jpg, Jpeg, Png, Gif.<br>
      A photograph is not required for the application process.<br>
      A photograph will be used for identification purposes only.<br>
      If you do not have a photograph of yourself or do not wish to submit one, please leave this blank.</p>
    </article>
    <input type=file name=cv>
  </section>
  <section class=step2container>
    <h2>Step 2 - UK details</h2>
    Are you eligible to work in the UK?
    <article id="extraInfo">
      Click me for more info

      <p>In line with Home Office guidance on the prevention of illegal working we will need to verify and take a copy of your ID documentation as evidence of your right to work in the UK</p>
    </article>

    <select name="workInUK" placeholder"{{ clientData[0][13] }}">
      <option value = "yes">Yes</option>
      <option value = "no">No</option>
    </select>

    Do you have a current UK driving licence?
    <select name="license" placeholder="{{ clientData[0][14] }}">
      <option value = "yes">Yes</option>
      <option value = "no">No</option>
    </select>

		<section id="sectConvictions">
      Do you have any unspent criminal convictions as per the Rehabilitation of Offenders Act 1974?


		  <select name="convictions" onchange="extraInfoConviction()" placeholder="{{ clientData[0][15] }}">
  			<option value = "no">No</option>
  			<option value = "yes" id="convictionsYes">Yes</option>
      </select>
      <div id="hasConviction" style="display: none;">
        <p>Please give more information about your conviction...</p>
        <input name="convTextArea"></input>
      </div>
		</section>

		<section id="sectDisability">
      Do you consider that you have a disability?
      <article id="extraInfo">
        Click me for more info
        <p>This will help us to decide if there is a need for any adjustments to your working arrangements or for your attendance at an interview. The Equality Act 2010 defines disability as a physical or mental impairment which has a substantial and long-term adverse effect on a person's ability to carry out normal day to day activities</p>
      </article>
      <select name="disability" onchange="extraInfoDisability()" placeholder="{{ clientData[0][17] }}">
		    <option value = "no">No</option>
        <option value = "yes" id="disabilitiesYes">Yes</option>
      </select>
      <div id="hasDisability" style="display: none;">
        <p>Please give more information about your disability...</p>
        <input name="disaTextArea"></input>
      </div>
		</section>
    CV:
    <article id="extraInfo">
      Click me for more info
      <p>A CV must be uploaded in pdf format!.<br>
      A CV does not have to be submitted as it is not required until later in the application process.<br>
      If your CV is on paper, or will be submitted at a later date, please leave this blank.</p>
    </article>
    <input type=file name=cv>
  </section>
  <section class=step3container>
    <h2>Step 3 - Refernces</h2>
    <p>Please provide details of two referees whom we may contact to obtain a reference in connection with your employment. These should ideally be your current and previous employer.</p>

    <article class=refer>
      First reference:<br>
      Name: <input type="text" name="ref1Name" placeholder="{{ clientData[0][19] }}"></input>
      Job title: <input type="text" name="ref1Title" placeholder="{{ clientData[0][20] }}"></input>
      Company: <input type="text" name="ref1Company" placeholder="{{ clientData[0][21] }}"></input>
      Address: <input type="text" name="ref1Address" placeholder="{{ clientData[0][22] }}"></input>
      Contact Number: <input type="text" name="ref1Number" placeholder="{{ clientData[0][23] }}"></input>
      Email address: <input type="text" name="ref1Email" placeholder="{{ clientData[0][24] }}"></input>
    </article>
    <article class=refer>
    Second reference:<br>
      Name: <input type="text" name="ref2Name" placeholder="{{ clientData[0][25] }}"></input>
      Job title: <input type="text" name="ref2Title" placeholder="{{ clientData[0][26] }}"></input>
      Company: <input type="text" name="ref2Company" placeholder="{{ clientData[0][27] }}"></input>
      Address: <input type="text" name="ref2Address" placeholder="{{ clientData[0][28] }}"></input>
      Contact Number: <input type="text" name="ref2Number" placeholder="{{ clientData[0][29] }}"></input>
      Email address: <input type="text" name="ref2Email" placeholder="{{ clientData[0][30] }}"></input>
    </article>
  </section>
  <section class=step4container>
    <h2>Step 4 - Declaration:</h2>
    <p>The information you provide on this form, associated registration forms and on any CV or additional documents will be used by the Acorn Group to provide you with work finding services. In providing this service to you, you consent to your personal data being included on a computerised database and consent to us transferring your personal data to our clients and other third parties as required for recruitment, selection, compliance and payroll purposes. We may check the information collected with third parties or with other information held by us or our clients. I hereby confirm that the information given is true and correct. I consent to my personal data being processed as detailed above. I understand that providing false information or withholding relevant information will result in the termination of an assignment or the withdrawal of an offer of an assignment.</p>
    <!--<input type="text" placeholder="Signature placeholder"></input>-->
<section>
	<h3>Please sign here</h3>
	<!--code from http://jsfiddle.net/ghostoy/wTmFE/1/-->
	<canvas id="canvas"></canvas>
	<div id="coord"></div>
  <script src="\static\resources/fabric.min.js"></script>
  <script src="\static\resources/signature.js"></script>
</section>
    <input type="button" value="clear canvas" name="btnClearCanvas" onclick="clearCanvas()">
    <input type="date" placeholder="Date"></input>
    <input type="submit">
  </section>

</form>

{%endblock%}
