*{
  padding: 0px;
  margin: 0px;

}
/*------------------------mobile-style-start------------------------*/
@font-face {
    font-family: myriadPro;
    src: url("font/MyriadPro-Regular.otf") format("opentype");
}
body{
  /*font-family: Verdana;*/
  font-family: myriadPro;
  font-size: 20px;
  padding-bottom: 30px;
  height: 100%;
}

p{
  background-color: #ededed;
  padding-right: 5px;
  padding-bottom: 5px;
  min-width: 15%;
  margin-bottom: 5px;
  max-width: 100%;

}
input[type=text], input[type=email], input[type=tel], input[type=button], input[type=date], input[type=submit],input[type=password], textarea, select{
  width: 98%;
  padding: : 30px;
  text-indent: 10px;
  margin-bottom: 5px;
  /*border: 1px solid #1c355e;*/
  border-radius: 30px;
  background-color: #ededed;
  font-size: 20px;
}
.incomplete{
  border-color: red;
}
table{
  width: 100%;
  border: 1px solid;
  font-size: 16px;
}
th{
  background-color: #ededed;
}
tr{
  background-color: #ededed;
  border-top: 1px solid #1c355e;
}
#contents:hover{
  background-color: #1c355e;
  color: white;
}

header{
  display: -webkit-flex;
	display: flex;
  position: sticky;
  top: 0px;
  left: 0px;
  flex-direction: row;
  justify-content: space-between;
  padding:8px;
  background-color: #ededed;
  border-bottom-style: ridge;
  border-bottom-color: #1c355e;
}

}
h1
{
  font-size: 30px;
}
h2 {
  color: #1c355e
}
h2{
  padding: 10px;
  border-top-style:ridge;
  border-top-color: #1c355e;
}
h3{
  color: #1c355e;
  font-size: 15px;
}
h4{
  color: #1c355e;
  font-size: 30px;
  border-bottom-style:ridge;
  border-bottom-color: #1c355e;
}
.refer{
  border-style: groove;
}
.address{
  width: 95%;
  margin-left: 5%;
}

#extraInfo{
  display:inline;
  width: 95%;
  font-style: italic;


}
#extraInfo p{
  display:none;

}
#extraInfo:active p{
  display:block;
  position:relative;
  top: 10%;
  width: 98%;
}
#canvas
{
  border: 1px solid black;
  width: 40%;
}
.incomplete{
  border-color: red;
}
button{
  width: 98%;
  /*padding: : 30px;*/
  text-align: center;
  margin: 5px;
  padding: 10px;
  /*border: 1px solid #1c355e;*/
  border-radius: 10px;
  background-color: #ededed;
}
.loginTable{
  font-size: 13px;
}

button:hover{
  background-color: #706f6f;
}
.warning{
  background-color: #ededed;
  border: ridge 1px #706f6f;
  padding: 3px;

}
/*------------------------end-of-mobile-style------------------------*/
/*------------------------desktop-style-start-------------------------*/
@media only screen and (min-width: 800px /*orientation: landscape*/)
{
body{
  font-size: 16px;
}

input[type=text], input[type=email], input[type=tel], input[type=button], input[type=date], input[type=submit],input[type=password], textarea, select{
  height: auto;
  font-size: 16px;
  padding: 10px;
  /*padding-top: 5px;
  padding-bottom: 5px;*/
  margin-bottom: 15px;
}

.incomplete{
  border-color: red;
}
h1
{
  font-size: 16px;
}

.formContainer{
  display: -webkit-flex;
	display: flex;
  flex-direction: column;
  width: 45%;
  margin-left: 10%;

}
.step1container{
  display: -webkit-flex;
	display: flex;
  flex-direction: column;
}

.step2container{
  display: -webkit-flex;
	display: flex;
  flex-direction: column;
}

.step3container{
  display: -webkit-flex;
	display: flex;
  flex-direction: column;
}
.step4container{
  display: -webkit-flex;
	display: flex;
  flex-direction: column;
}
.navcontainer{
  display: -webkit-flex;
	display: flex;
  flex-direction: row;
}
.sign{
  width: 40%;

}
.headcontainer{
  display: -webkit-flex;
	display: flex;
  flex-direction: column;
  justify-content: space-between;
}
}
.left{
  -webkit-flex: 5;
        flex: 5;
  align-items: flex-start;
}
.right{
  -webkit-flex: 1;
        flex: 1;
  align-items: flex-end;
}
}
